<div class="login-wrapper">
  <div class="login-card">

    <div class="login-header">
      <h1 class="brand-name">La Tavola</h1>
      <span class="brand-tagline">{{ 'footer.tagline' | translate }}</span>
    </div>

    <form class="login-form">
      <div class="form-field">
        <label>{{ 'login.email' | translate }}</label>
        <input type="email" [placeholder]="'login.user_placeholder' | translate" name="email">
      </div>

      <div class="form-field">
        <div class="label-row">
          <label>{{ 'login.password' | translate }}</label>
          <a href="#" class="forgot-link">{{ 'login.forgot' | translate }}</a>
        </div>
        <input type="password" [placeholder]="'login.pass_placeholder' | translate" name="password">
      </div>

      <button type="button" class="btn-signin">{{ 'login.signin' | translate }}</button>
    </form>

    <div class="login-footer">
      <p>{{ 'login.no_access' | translate }} <a href="#">{{ 'login.contact_admin' | translate }}</a></p>
    </div>
  </div>
</div>
