<div class="login-wrapper">
  <div class="login-card">
    
    <div class="login-header">
      <h1 class="brand-name">La Tavola</h1>
      <span class="brand-tagline">360 RESTAURANT MANAGEMENT</span>
    </div>

    <form class="login-form">
      <div class="form-field">
        <label>CORREO ELECTRÓNICO</label>
        <input type="email" placeholder="usuario" name="email">
      </div>

      <div class="form-field">
        <div class="label-row">
          <label>CONTRASEÑA</label>
          <a href="#"  class="forgot-link">OLVIDÉ MI CLAVE</a>
        </div>
        <input type="password" placeholder="contraseña" name="password">
      </div>

      <button type="button" class="btn-signin">INICIAR SESIÓN</button>
    </form>

    <div class="login-footer">
      <p>¿No tienes acceso? <a href="#">Contacta al administrador</a></p>
    </div>
  </div>
</div>